body {
    font-family: 'Montserrat', sans-serif !important;
}

.navbar-custom {
    background-color: #1d2120;
}

.navbar-custom .navbar-nav .nav-link,
.navbar-custom .navbar-brand {
    color: white;
}

.navbar-custom .navbar-nav .nav-link.active {
    /*font-weight: bold;*/
    text-decoration: underline;
}

.intro-section {
    margin: 5%;
    align-items: center;
    text-align: center;
}

.intro-wrapper {
    background-color: #607D8B;
}

.intro-text > a {
    color: #fff;
    font-weight: bold;
}

.intro-text {
    color: #CFD8DC;
}

.btn-intro {
    margin: 1%;
    font-weight: bold;
    padding: 2%;
}

.news-wrapper {
    padding: 5%;
    height: calc(100vh - 50px);
    height: -moz-calc(100vh - 50px);
    overflow-y: scroll;
}

.card {
    margin: 10px;
}

.card-image-left {
  max-width: 100%;
  display: inline;
  border-bottom-left-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  margin-bottom: 10px;
}

.card-image-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-img {
    max-width: 100%;
    min-height: 50vh;
    max-height: 90vh;
}

.panel-profile .panel-title{
    margin-bottom:5px
}
.panel-profile .panel-heading{
    height:150px;
    background-size:cover
}
.panel-profile-img{
    max-width:75px;
    margin-top:-37.5px;
    margin-bottom:5px;
    border:3px solid #fff;
    border-radius:100%;
    box-shadow:0 1px 1px rgba(0,0,0,0.1)
}

.c-example__tilt {
  width: 35vw;
  height: 35vw;
  display: block;
  box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  /* transform: perspective(10px); */
  padding: 1vw;
  margin: 3vw;
  border-top: 3px solid transparent;
}

.c-example__tilt-inner {
  transform: translateZ(10px);
  width: 29vw;
  height: 29vw;
  margin: 0px auto;
}


.c-example__tilt:hover {
    /* background: #e1e1e1; */
    border-top: 3px solid #d0d0d0;
}

.c-example__tilt:hover .btn-outline-info {
    color: #fff;
    background-color: #00b3db;
    /* border-color: #285e8e; /*set the color you want here*/ */
}
