.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: block;
  font-size: 10px;
  width: 80%;
  line-height: 3.1;
  color: rgba(0, 0, 0, 0.8);
  content: " \25BC";
  position: absolute;
  text-align: center;
  pointer-events: none;
}

.labels {
    display: block;
    width: 200px;
    float: left;
    padding: 20px;
  }

form {
    display: inline-block;
    margin: 10px;
    font-size: 100%;
    width: 20vw;
  }

#inputs {
    display: block;
    margin: 0px;
}

.axis {
    shape-rendering: crispEdges;
}

.bar {
  fill: CornflowerBlue;
  opacity: .7;
}

.STbar {
  fill: ForestGreen;
  opacity: .7;
}

.S1error, .STerror, .error {
  fill: Crimson;
}

#interactive {
    margin: 0 auto;
    display: block;
}

#chart {
    display: block;
    width: 90vw;
    margin: 10px auto;
}

#chart text {
  fill: black;
  font: 100% sans-serif;
  text-anchor: middle;
}

.x.axis line,
.x.axis path {
    fill: none;
    stroke: #000;
}

.x.axis .minor {
    stroke-opacity: .5;
}

.y.axis line,
.y.axis path {
    fill: none;
    stroke: #000;
}

.slider {
    width: 60%;
    margin: auto;
}

.d3-slider-axis text {
    font-size: 20px;
}

.ticks {
  font: 10px sans-serif;
}
