{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<div class="container">
<h1 id="title">{{ .Title }}</h1>
    {{ range (where .Data.Pages.ByDate "Section" "blog").Reverse }}
    <div class="card">
        <div class="card-block">
            <img class="card-image-left" src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="" style="width: 100px">
            <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
            <h6 class="card-subtitle mb-2 text-muted">{{ .Date.Format "2 January 2006" }}</h6>
            <p class="card-text">
                {{ .Summary }}
                {{ if .Truncated }}
                    <a class="text-right btn btn-primary btn-sm" href="{{ .RelPermalink }}">Read More…</a>
                {{ end }}
            </p>
        </div>
    </div>
    {{ end }}
</div>

{{ partial "footer.html" . }}
